@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
}

.dark {
  --color-primary: #1e40af;
  --color-secondary: #7e22ce;
} */
